.high-score-container {
  position: relative;
  background-image: url("/static/Elements/Wooden_Button_3.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  min-height: 75vh;
  /* Ensures a minimum height */
  height: auto;
  /* Allows it to grow with content */
  padding: 20px;
  /* Adds spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Highscore-title {
  letter-spacing: 2px;
  color: antiquewhite;
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ListedScores {
  list-style-type: none;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  background-color: lightblue;
}

.menu-container {
  position: relative;
  text-align: center;
  color: antiquewhite;
}

.main-menu-container {
  position: relative;
  background-image: url("/static/Elements/Stone_Button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 110%;
  overflow-wrap: normal;

  width: 100%;
  height: 75vh;
}


.dino,
.cactus {
  position: absolute;
  bottom: 40px;
}

.dino {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("/static/lizardwizard_150x150.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  transition: transform 1s ease-in-out;
}

.cactus {
  /*Pic details:
  width: 693px;
  height: 1068px;*/
  position: absolute;
  width: 100px;
  height: 200px;
  background-image: url("/static/cactus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  bottom: 0px;
}

.camel {
  /*Pic details:
  width: 714px;
  height: 540px;*/
  position: absolute;
  width: 250px;
  height: 200px;
  background-image: url("/static/camel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  bottom: 0px;

}

.sabertooth_tiger {
  /*Pic details:
  width: 318px;
  height: 204px;*/
  position: absolute;
  width: 300px;
  height: 200px;
  background-image: url("/static/sabertooth_tiger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  bottom: 0px;
}

.error {
  background-color: #cc0000;
  width: 100px;
  height: 100px;
}

.text-Centered-In-Image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.mobile-text-Centered-In-Image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.score-container {
  display: flex;
  justify-content: flex-end;
  /* Push score to the left as needed */
  white-space: nowrap;
  /* Prevents line breaks */
  overflow: hidden;
  /* Avoids unnecessary wrapping */
  min-width: 200px;
  /* Ensures enough space */
}

.mobile-score-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;

  height:100%;
  width: 100%;
  background-image: url("/static/Elements/Wooden_Button_3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.game-score {
  font-size: 1.5rem;
  padding: 2vw;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

.mobile-game-score {
  font-size: 1rem;
  padding: 2vw;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}

/*Navbar Volume slider*/

.volume-control {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  /* Add spacing between label, slider, and image */
}

.mobile-volume-control {
  display: none;
}

.mobile-menu-text {
  font-size: 1rem;
  margin-bottom: 0;
}

.mobile-space {
  display: none;
}

.custom-slider {
  position: relative;
  width: 150px;
  /* Match the image width */
}

.custom-slider input[type="range"] {
  /* The silder itself */
  -webkit-appearance: none;
  /* Remove default styles */
  appearance: none;
  width: 100%;
  height: 30px;
  background: url("/static/Elements/Wooden_Volume.svg") no-repeat center;
  background-size: contain;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-slider input[type="range"]::-webkit-slider-thumb {
  /* The middle button itself */
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: url("/static/Elements/Wooden_Button_2.svg") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.custom-slider input[type="range"]::-moz-range-thumb {
  /* The middle button itself (for firefox)*/
  width: 40px;
  height: 40px;
  background: url("/static/Elements/Wooden_Button_2.svg") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.volume-icon {
  width: 30px;
  height: auto;
}

/*Extra assurance to show*/
.game-entities {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: auto;
  z-index: 10;
}

.mobile-game-entities {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  z-index: 10;
}

/* PAUSE MENU STYLING */
.pause-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 50% grey transparency */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-menu {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.paused {
  filter: blur(2px);
  /* Blurs the background when paused */
}

/* Fullscreen grey overlay */
.game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 50% grey opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  /* Ensures it's above the game */
}

/* Centered game-over menu */
.game-over-menu {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 12;
  /* Higher than the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button styling */
.game-over-menu button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: #ff4d4d;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.3s ease;
}

.game-over-menu button:hover {
  background: #cc0000;
}

.indicator-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.Danger-Triangle {
  position: fixed;
  right: 1vw;
  top: 50vh;
  width: 10%;
  height: 20%;
}


/* Global container to hold all background layers */
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  pointer-events: none;
}

/* Base styles for each background layer */
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  /* For layers 1-4; foreground uses 'contain' */
}


/*Backgrounds */
.Background-lvl1-sky-1 {
  z-index: 5;
  background-image: url("/static/lvl1/background_1.png");
}

.Background-lvl1-outline-2 {
  z-index: 6;
  background-image: url("/static/lvl1/background_2.png");
}

.Background-lvl1-desert-3 {
  z-index: 7;
  background-image: url("/static/lvl1/background_3.png");
  background-size: cover;
}

.Background-lvl1-decor-4 {
  z-index: 8;
  background-image: url("/static/lvl1/background_4.png");
  background-size: cover;
}

.Background-lvl1-foreground-5 {
  z-index: 9;
  background-image: url("/static/lvl1/background_5.png");
  background-size: 100% 100%;
  background-position: bottom;
}


.Background-lvl2-sky-1 {
  z-index: 5;
  background-image: url("/static/lvl2/background_1.png");
}

.Background-lvl2-outline-2 {
  z-index: 6;
  background-image: url("/static/lvl2/background_2.png");
}

.Background-lvl2-desert-3 {
  z-index: 7;
  background-image: url("/static/lvl2/background_3.png");
  background-size: cover;
}

.Background-lvl2-decor-4 {
  z-index: 8;
  background-image: url("/static/lvl2/background_4.png");
  background-size: cover;
}

.Background-lvl2-foreground-5 {
  z-index: 9;
  background-image: url("/static/lvl2/background_5.png");
  background-size: 100% 100%;
  background-position: bottom;
}

.Background-lvl3-sky-1 {
  z-index: 5;
  background-image: url("/static/lvl3/background_1.png");
  background-size: cover;
}

.Background-lvl3-outline-2 {
  z-index: 6;
  background-image: url("/static/lvl3/background_2.png");
  background-size: cover;
}

.Background-lvl3-desert-3 {
  z-index: 7;
  background-image: url("/static/lvl3/background_3.png");
  background-size: cover;
}

.Background-lvl3-decor-4 {
  z-index: 8;
  background-image: url("/static/lvl3/background_4.png");
  background-size: cover;
}

.Background-lvl3-foreground-5 {
  z-index: 9;
  background-image: url("/static/lvl3/background_5.png");
  background-size: 100% 100%;
  background-position: bottom;
}