body {
  background-image: url("/static/Elements/Stone_Background.svg");
  background-repeat: repeat;
  background-size: 30%;
  background-position: center;

  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 120%;
  color: white;
  overflow: hidden;
}

/*Display Font*/

/*Bodycopy Font*/


.displayfont-text{
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
  font-size: 150%;
  text-decoration: none; /*Removing the underline from link*/
  margin-top: 10px;
}


.navbar {
  background-color: grey;
  background-image:
    url("/static/Elements/Stone_Background_navbar.svg"),
    url("/static/Elements/Stone_Background_navbar.svg");
  /* Two instances */

  background-size: 45vw, 45vw;
  /* Ensures each is 33.3vw wide & 50px tall */
  background-position: left center, right center;
  /* One on the left, one on the right */
  width: 100vw;
  height: 5vh;
  /* Forces height */
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


.navbar .nav-link {
  color: white
}

.navbar .nav-link:hover {
  color: #ffcc00
}

.navBarDivider {
  border: white 1px solid;
  height: 100%;
}

.vine {
  position: absolute;
  left: 0px;
  top: 30px;
  z-index: 10;
  width: 100vw;
  height: 100%;
  aspect-ratio: auto;

  background-image: url("/static/Elements/Vine.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: 0 0;
  image-rendering: pixelated;
}

.layout-container {
  width: 100vw;
}

.navbar-left {
  width: 25vw;
}

.navbar-center {
  width: 50vw;
}

.navbar-right {
  width: 25vw;
}

.outlet{
  height: 95vh;     
}

.homepage-container{
  height: 95vh;   
}

br {
  display: block;
  content: "";
  margin-bottom: 10px; /* Adjusts spacing between lines */
}

